@using StatusGizi.Web.Authentication
@inject ISignInManager SignInManager

@model List<DesaKelurahan>

@{
    ViewData["Title"] = "Kelurahan";
    var user = await SignInManager.GetUser();
}

<style>
    .table {
        font-size: 0.6em;
    }

        .table .btn {
            font-size: 0.6em;
        }
</style>


@if (user is not null && user.Role == AppUserRoles.Kader)
{
    <div class="row mb-3">
        <div class="col">
            <a asp-action="@nameof(KelurahanController.Tambah)" class="btn btn-primary">Tambah</a>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-6">
        <table class="table dataTable">
            <thead>
                <tr>
                    <th>Desa/Kelurahan</th>
                    @foreach (var kategoriGizi in Enum.GetValues<KategoriGizi>())
                    {
                        <th>@kategoriGizi.Humanize()</th>
                    }
                    <th>Sub Total</th>
                    @if (user is not null && user.Role == AppUserRoles.Kader)
                    {
                        <th>Aksi</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var kelurahan in Model)
                {
                    var daftarPengecekan = kelurahan.DaftarPosyandu.SelectMany(p => p.DaftarPengecekan);
                    var grouping = daftarPengecekan.GroupBy(p => p.KategoriGizi);
                    <tr>
                        <th>@kelurahan.Nama</th>
                        <td>@(grouping.FirstOrDefault(g => g.Key == KategoriGizi.GiziBuruk)?.Count() ?? 0)</td>
                        <td>@(grouping.FirstOrDefault(g => g.Key == KategoriGizi.GiziKurang)?.Count() ?? 0)</td>
                        <td>@(grouping.FirstOrDefault(g => g.Key == KategoriGizi.GiziBaik)?.Count() ?? 0)</td>
                        <td>@(grouping.FirstOrDefault(g => g.Key == KategoriGizi.BerpotensiBerlebih)?.Count() ?? 0)</td>
                        <td>@(grouping.FirstOrDefault(g => g.Key == KategoriGizi.GiziBerlebih)?.Count() ?? 0)</td>
                        <td>@(grouping.FirstOrDefault(g => g.Key == KategoriGizi.Obesitas)?.Count() ?? 0)</td>
                        <td>@(daftarPengecekan.Count())</td>
                        @if (user is not null && user.Role == AppUserRoles.Kader)
                        {
                            <td>
                                <a asp-action="Detail" asp-route-id="@kelurahan.Id" class="btn btn-primary">Detail</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    @{
                        var daftarPengecekanSemua = Model.SelectMany(k => k.DaftarPosyandu.SelectMany(p => p.DaftarPengecekan));
                    }
                    <th>Total</th>
                    <td>@(daftarPengecekanSemua.Where(p => p.KategoriGizi == KategoriGizi.GiziBuruk).Count())</td>
                    <td>@(daftarPengecekanSemua.Where(p => p.KategoriGizi == KategoriGizi.GiziKurang).Count())</td>
                    <td>@(daftarPengecekanSemua.Where(p => p.KategoriGizi == KategoriGizi.GiziBaik).Count())</td>
                    <td>@(daftarPengecekanSemua.Where(p => p.KategoriGizi == KategoriGizi.BerpotensiBerlebih).Count())</td>
                    <td>@(daftarPengecekanSemua.Where(p => p.KategoriGizi == KategoriGizi.GiziBerlebih).Count())</td>
                    <td>@(daftarPengecekanSemua.Where(p => p.KategoriGizi == KategoriGizi.Obesitas).Count())</td>
                    <td>@(daftarPengecekanSemua.Count())</td>
                    @if (user is not null && user.Role == AppUserRoles.Kader)
                    {
                        <td> </td>
                    }
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-md-6">
        <div class="owl-carousel owl-theme grafikContainer">
            @foreach (var kategoriGizi in Enum.GetValues<KategoriGizi>())
            {
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            Jumlah Balita @kategoriGizi.Humanize()
                        </div>
                        <div class="card-body">
                            <vc:chart chart-model=@(new ChartVM { Label = $"Jumlah Balita {kategoriGizi.Humanize()}", Type = ChartType.Bar, Data = new Dictionary<string, double>(Model.Select(k => new KeyValuePair<string, double>(k.Nama, k.DaftarPosyandu.SelectMany(p => p.DaftarPengecekan).Where(p => p.KategoriGizi == kategoriGizi).Count())))}) />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.grafikContainer').owlCarousel({
                loop: false,
                autoPlay: false,
                nav: false,
                items: 1
            });
        });
    </script>
}