@model LoginVM

@{
    ViewData["Title"] = "Log In";
}

<section class="d-flex justify-content-center align-items-center w-100 h-100">
    <div class="card">
        <div class="card-body">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>

                <div class="col-12 mb-3 form-floating">
                    <input asp-for="@Model.UserName" class="form-control" placeholder="" />
                    <label asp-for="@Model.UserName"></label>
                    <span asp-validation-for="@Model.UserName" class="form-text text-danger"></span>
                </div>

                <div class="col-12 mb-3 form-floating">
                    <input asp-for="@Model.Password" class="form-control" placeholder="" />
                    <label asp-for="@Model.Password"></label>
                    <span asp-validation-for="@Model.Password" class="form-text text-danger"></span>
                </div>

                <input asp-for="@Model.ReturnUrl" hidden readonly>

                <div class="row mb-3" style="margin: 0 0">
                    <button class="btn btn-primary">Masuk</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}